# Copy this file to ".env" and fill in your real Gemini API key.
# This example file must exist for the Secrets Gradle Plugin to work,
# even if you haven't created your real .env file yet.
GEMINI_API_KEY=
